<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <meta name="monetization" content="$ilp.uphold.com/DBQHhyEb8myw">
    <style>
      h1 {
	  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
	  color: black;
	  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	  padding-left: 10px;
	  padding-top: 20px;
      }

      .twitter-tweet { margin: 0 !important; }
      
      .border {

	  display: block;
	  overflow: auto;
	  float: left;
	  margin: 10px;
      }

      .one { border: 20px solid #B29DD9; }
      .two { border: 20px solid #FDFD98; }
      .three { border: 20px solid #FE6B64; }
      .four { border: 20px solid #77DD77; }
      .five { border: 20px solid #779ECB; }

    </style>
    
  </head>
  
  <body>

    <h1>Joyful Tweets</h1>

    <div id="fetching"><p>Fetching tweets...</p></div>
    <div id="container" class="grid">
         <!-- tweets go in here -->
    </div>

    <script>

    var $grid = $('.grid').masonry({
	itemSelector: '.grid-item',
	columnWidth: 610,
	initLayout: false
    });

    let colors = ['one', 'two', 'three', 'four', 'five'];
    let color_idx = 0;

    function fetch_tweets(since_id) {
	let url = "https://joyfultweets-daring-wildebeest-eq.eu-gb.mybluemix.net/tweets";
	if (since_id) {
	    url += `?since_id=${since_id}`
	}
	console.log(`Fetching tweets:  ${url}`);
        $.getJSON(url, data => {
	    console.log(`Got ${data.tweets.length} tweets`);
            data.tweets.reverse().forEach(tweet => {
		let url = `https://twitter.com/${tweet.user.screen_name}/status/${tweet.id_str}`;
		since_id = tweet.id_str;
		console.log("tweet: ", url)
		$("#container").prepend(`<div class="grid-item border ${colors[color_idx]}"><blockquote class="twitter-tweet"><a href="${url}"></blockquote></div>`)

		// increment the color
		color_idx++;
		if (color_idx >= colors.length) {
		    color_idx = 0;
		}
		
		// remove excess ones from end
		let children = $("#container").children()
		let num = children.length;
		if(num > 30) {
		    children.slice(30 - num).remove();
		}
            })
        }).then(() => {
            return twttr.widgets.load($("#container"));
	}).then(() => {
	    return $("#fetching").hide();
	}).then(() => {
	    setTimeout(() => { fetch_tweets(since_id) }, 60*1000);
	});
    }

    $(document).ready(() => {
 	fetch_tweets();
    });

    twttr.events.bind(
	'loaded',
	function (event) {
	    event.widgets.forEach(function (widget) {
		console.log("Created widget", widget.id);
	    });

	    // if we have any widgets then force a relayout
	    if (event.widgets.length) {
		console.log("relayout");
		$grid.masonry('reloadItems').masonry();
	    }
	}
    );

    </script>    
  </body>
</html>
