<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <meta name="monetization" content="$ilp.uphold.com/DBQHhyEb8myw">
    <style>
      h1 {
	  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
	  color: black;
	  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	  padding-left: 10px;
	  padding-top: 20px;
      }
    </style>
    
  </head>
  
  <body>

    <h1>Joyful Tweets</h1>

    <a href="/login/twitter">Log In with Twitter</a>

  </body>
</html>